In [1]:
import json
import pandas as pd
import re
pd.set_option('display.max_rows', None, 'display.max_columns', None, 'display.max_colwidth', None)

In [2]:
with open("soal-2.json", "r") as json_file:
    data = json.loads(json_file.read())

In [3]:
len(data)

1054

In [4]:
df = pd.read_json('soal-2.json')
df.head()

,komoditas,berat
0,"lele, bawal, nila","lele 6kg, bawal 1kg, nila 1kg"
1,kakap lele kembung tongkol salem,kakap 2kg lele 1kg kembung 1kg tongkol 1kg salem 1kg
2,"ikan nila, kakap, lele, bawal, kembung, salam",rata2 1kg kecuali kembung 2kg
3,nila kembung tongkol lele bawal,nila 1kg bawal 2kg kembung 5kg lele 2kg tongkol 3kg
4,"lele, kerapu, ikan mas, pindang tongkol, gurame",rata2 1kg

In [5]:
for y in range(len(df['komoditas'])):
    df['komoditas'][y] = re.sub(r'(ikan\s|Ikan\s)|(\bdan)|(\bdll)|(\s*$)',"",df['komoditas'][y])
    df['komoditas'][y] = re.sub('(,)|(&)'," ",df['komoditas'][y])
    df['komoditas'][y] = re.sub('(\s+)',",",df['komoditas'][y])
    df['komoditas'][y] = re.sub(r'(,\s*$)',"",df['komoditas'][y])
    df['komoditas'][y] = re.split(",",df['komoditas'][y])
    df['berat'][y] = re.sub('rata2',"",df['berat'][y])
    df['berat'][y] = list(re.findall(r'\d+',df['berat'][y]))
df.head()

                                       komoditas            berat
0                            [lele, bawal, nila]        [6, 1, 1]
1         [kakap, lele, kembung, tongkol, salem]  [2, 1, 1, 1, 1]
2     [nila, kakap, lele, bawal, kembung, salam]           [1, 2]
3          [nila, kembung, tongkol, lele, bawal]  [1, 2, 5, 2, 3]
4  [lele, kerapu, mas, pindang, tongkol, gurame]              [1]

In [6]:
# asumsi jika panjang list ikan tidak sama dengan panjang list berat
# maka diambil value index pertama list berat untuk value ikan yang lainnya
# jadi jika di data awal mengatakan itu rata-rata dan hanya mencantumkan satu buah angka
# tetap akan terpenuhi dengan eror yang kecil, karena jika disamakan dengan value awal berat misal kan 5
# dan terdapat panjang list ikan sebanyak 5, dan list berat yg awalnya 5 menjadi [5,5,5,5,5]
# dan jika angka list tersebut di rata - ratakan, maka akan tetap menghasilkan satu angka 5
for k in range(len(df)):
    while len(df["berat"][k]) != len(df['komoditas'][k]):
        if len(df["berat"][k]) >= len(df['komoditas'][k]):
            df["berat"][k] = [int(int(df["berat"][k][0]) + int(df["berat"][k][1])/2)]
        elif df["berat"][k] == []:
            df["berat"][k].append(0)
        elif len(df["berat"][k]) <= len(df['komoditas'][k]):
            df["berat"][k].append(df["berat"][k][0])

In [7]:
data = {"ikan" : [], "berat" : []}
for z in range(len(df)):
    for y in range(len(df['komoditas'][z])):
        data['ikan'].append(df['komoditas'][z][y])
        data['berat'].append(df['berat'][z][y])

In [14]:
df_temp = pd.DataFrame(data)
df_temp['berat'] = df_temp['berat'].astype('int32')
df_temp.head()

    ikan  berat
0   lele      6
1  bawal      1
2   nila      1
3  kakap      2
4   lele      1

In [66]:
df_new = df_temp.groupby(['ikan']).sum()
df_new.reset_index(inplace=True)
df_new.sort_values(by=['berat'],ascending=False,ignore_index=True,inplace=True)
df_new.head()

      ikan  berat
0     lele   2575
1      mas   1579
2     nila   1085
3  tongkol    962
4    bawal    423

In [67]:
def Convert(a):
    it = iter(a)
    res_dct = dict(zip(it, it))
    return res_dct

In [74]:
list_dict = []
for j in range(len(df_new)):
    result = df_new.loc[j].to_dict()
    list_dict.append(Convert(result.values()))

In [82]:
list_dict

[{'lele': 2575},
 {'mas': 1579},
 {'nila': 1085},
 {'tongkol': 962},
 {'bawal': 423},
 {'kakap': 389},
 {'kembung': 351},
 {'gurame': 351},
 {'mujaer': 291},
 {'mujair': 193},
 {'laut': 141},
 {'kerapu': 95},
 {'patin': 91},
 {'salem': 53},
 {'bandeng': 42},
 {'merah': 36},
 {'udang': 29},
 {'ayam': 16},
 {'cumi': 13},
 {'kepiting': 13},
 {'cumi-cumi': 9},
 {'goreng': 9},
 {'babat': 9},
 {'tawar': 8},
 {'pecel': 8},
 {'kerang': 8},
 {'munkar': 7},
 {'soto': 7},
 {'etong': 7},
 {'kikil': 7},
 {'gurami': 7},
 {'': 6},
 {'uduk': 6},
 {'muajir': 6},
 {'krapu': 6},
 {'parin': 5},
 {'mujir': 5},
 {'kele': 5},
 {'bebek': 5},
 {'man': 5},
 {'goreng/bakar': 5},
 {'hitam': 5},
 {'kerpu': 5},
 {'ikanlele': 5},
 {'nasi': 5},
 {'cakalang': 4},
 {'jaer': 4},
 {'pari': 3},
 {'nilem': 3},
 {'nil': 3},
 {'barunang': 3},
 {'baracuda': 3},
 {'sea': 3},
 {'food': 3},
 {'majaer': 3},
 {'tenggiri': 3},
 {'tngkol': 3},
 {'gembung': 2},
 {'sotobayam': 2},
 {'tingkol': 2},
 {'impun': 2},
 {'kepala': 2},
 {'pindang': 2},
 {'jambal': 2},
 {'sate': 1},
 {'usus': 1},
 {'salam': 1},
 {'peda': 1},
 {'nila/jaer': 1},
 {'mujaer/nila': 1},
 {'lelw': 1},
 {'lele.': 1},
 {'kembug': 1},
 {'ikn': 1},
 {'gabus': 1},
 {'emas': 1},
 {'laut.': 0}]